
section.gallery-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	padding: 20px;
	//position: relative; // optional, for stacking context
}

img {
	border: 2px solid white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	transition: transform 0.3s, box-shadow 0.3s;
	//position: relative; // optional, for stacking context
}

.enter-image {
	opacity: 0;
	animation: slide-fade 0.6s forwards;
}

@keyframes slide-fade {
	from {
		opacity: 0;
		transform: translateY(600px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}