header {
    position: fixed;
    transition: all 1s ease; 
    transform: translate(-50%, -50%);
    z-index: 10;
}

a {
    display: flex; 
    width: 9rem;
    height: 2.5rem; 
    justify-content: center;
    align-items: center; 
    color: white;
    text-decoration: none;
    position: fixed;
    transition-property: transform, background-color, padding-left, padding-right;
    transition-delay: 0ms, 0ms, 0ms, 0ms;
    transition-duration: 1s, 200ms, 1s, 1s;
    transition-timing-function: ease, ease, ease, ease;
}

a.active {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.33);
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

a.home-btn {
    height: 4rem;
    width: 0;
    h1 {
        white-space: nowrap;
    }   
}


// Styles when the header is in the center of the screen
header.center-screen {
    top: 50%;
    left: 50%;
    
    a.home-btn {
        transform: translate(-50%, -300%) scale(3);
        padding-left: 0;
        padding-right: 0;
        pointer-events: none;
    }
    
    nav a {
        padding-left: 0;
    }
    a.gallery-btn {
        transform: translate(-250%, -50%);
    }
    a.about-btn {
        transform: translate(-150%, -50%);
        transition-delay: 50ms, 0ms;
        transition-duration: 1s, 200ms, 950ms;
    }
    a.shop-btn {
        transform: translate(-50%, -50%);
        transition-delay: 100ms, 0ms;
        transition-duration: 1s, 200ms, 900ms;
    }
    a.comission-btn {
        transform: translate(50%, -50%);
        transition-delay: 150ms, 0ms;
        transition-duration: 1s, 200ms, 850ms;
    }
    a.contact-btn {
        transform: translate(150%, -50%);
        transition-delay: 200ms, 0ms;
        transition-duration: 1s, 200ms, 800ms;
    }
}

// Styles when the header is on the left side of the screen
header.left-screen {
    top: 50%;
    left: 0%;

    a.home-btn {
        transform: translate(0%, -400%) scale(1);
        padding-left: 7.5rem;
        padding-right: 7.5rem;
        background-color: rgba(0, 0, 0, 0);
    }
    
    nav a {
        padding-left: 6rem;
    }
    a.gallery-btn {
        transform: translate(0%, -250%);
    }
    a.about-btn {
        transform: translate(0%, -150%);
        transition-delay: 50ms, 0ms;
        transition-duration: 1s, 200ms, 950ms;
    }
    a.shop-btn {
        transform: translate(0%, -50%);
        transition-delay: 100ms, 0ms;
        transition-duration: 1s, 200ms, 900ms;
    }
    a.comission-btn {
        transform: translate(0%, 50%);
        transition-delay: 150ms, 0ms;
        transition-duration: 1s, 200ms, 850ms;
    }
    a.contact-btn {
        transform: translate(0%, 150%);
        transition-delay: 200ms, 0ms;
        transition-duration: 1s, 200ms, 800ms;
    }
}


// Header background overlay
div {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    transition-property: background, padding-right, box-shadow;
    transition-duration: 1s, 1s, 1s;
    transition-timing-function: ease, ease, ease;
    z-index: -1;
}

div.center-screen {
    padding-right: 0;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

div.left-screen {
    padding-right: 15rem;
    background: rgba(0, 0, 0, 0.666);
    box-shadow: 0 0 2rem rgb(0, 0, 0);
}
