<header [class]="headerClass()">
    <a class="home-btn" routerLink="/"><h1>Kurtis Wiles</h1></a>
    <nav>
        <a class="gallery-btn" routerLink="/gallery" routerLinkActive="active">
            <h2>Gallery</h2>
        </a>
        <a class="about-btn" routerLink="/about" routerLinkActive="active">
            <h2>About</h2>
        </a>
        <a class="shop-btn" routerLink="/shop" routerLinkActive="active">
            <h2>Shop</h2>
        </a>
        <a class="comission-btn" routerLink="/comission" routerLinkActive="active">
            <h2>Comission</h2>
        </a>
        <a class="contact-btn" routerLink="/contact" routerLinkActive="active">
            <h2>Contact</h2>
        </a>
    </nav>
</header>
<div [class]="headerClass()"></div>

